:root {
    --color-main: #e0dede;
    --color-main-medium: #868484;
    --color-main-dark: #333;
    --color-main-light: #f5f4f4;
    --color-main-lighter: #FDFDFD;
    --color-second: #000;
    --color-third: #fff;
}


body {
    font-family: 'Roboto';
    background-color: rgb(39, 40, 52);
}

.page {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* ****************************************************** Menyu ************************************************** */
.menyu {
    background-color: rgb(67, 68, 92);
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
    position: sticky;
    top: 0px;
    z-index: 1;
}

.ul-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
    width: 83%;
    padding-left: 5px;
}

.ul-2 {
    width: 17%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    list-style: none;
    padding-right: 5px;
}

.ul-2 li button{
    display: flex;
}

.menyu ul li {
    color: rgb(138, 154, 153);
}
.menyu ul li button{
    padding: 20px;
    color: rgb(138, 154, 153);
    font-size: 20px;
    cursor: pointer;
    border: 0px;
    background-color: initial;
}

.menyu ul li button:hover {
    color: rgb(117, 190, 246);
}
.menyu ul li button:focus {
    color: rgb(117, 190, 246);
}

/* .ul-2 .search-bar button svg {
    color: var(--color-main-medium);
} */


.ul-2 .shopping-cart {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.ul-2 .shopping-cart svg {
    fill: rgb(117, 190, 246);
}

/* .ul-2 .shopping-cart .counter {
    user-select: none;
    position: absolute;
    top: -6px;
    right: -8px;
    background: var(--color-second);
    color: var(--color-third);
    width: 18px;
    height: 18px;
    font-size: 12px;
    border-radius: 50%;
} */
/* ****************************************************** Menyu ************************************************** */
/* ****************************************************** Header ************************************************** */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    background-color: rgb(39, 40, 52);
}

.logo {
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: gray;
    background-image: url(../img/Logo.png);
    background-size: 170% 170%;
    background-position: -25px -25px;
    border-radius: 50%;
    margin: 0px 20px;
}

.nameKomp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.serch {
    display: flex;
    gap: 5px;
}

.serch2 {
    display: flex;
    gap: 5px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    display: none;
}

.nameKomp a {
    text-decoration: none;
    color: white;
}

.nameKomp h1 {
    color: white;
    font-size: 1.8vw;
}

.serchInput {
    background-color: rgb(39, 40, 52);
    outline: 1px solid rgb(67, 68, 97);
    padding: 10px;
    width: 70%;
    border: 0px;
    font-size: 1.5vw;
    color: white;
}

.serchInput:hover {
    outline: 1px solid rgb(66, 122, 161);
}

.serchButton {
    padding: 10px 30px;
    font-weight: bold;
    font-size: 1vw;
    background-color: rgb(66, 122, 161);
    color: white;
    border: 0px;
    cursor: pointer;
}

.serchButton:hover {
    background-color: rgb(117, 190, 246);
}


.contact1 h4 {
    font-size: 25px;
    margin-top: 10px;
}

.contact1 h4 a {
    cursor: pointer;
    color: white;
}

.contact1 h4 a:hover {
    color: rgb(117, 190, 246);
}


.contact2 button {
    padding: 10px 30px;
    font-size: 1.1vw;
    background-color: green;
    border: 2px solid green;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.contact2 button:hover {
    background-color: white;
    color: green;
    border: 2px solid green;
}

.insta {
    width: 50px;
}

h4 {
    color: white;
}

@media screen and (max-width:1490px) {
    .serch2 {
        display: block;
    }

    .serch {
        display: none;
    }
}

/* ****************************************************** Header ************************************************** */
/* ****************************************************** Content bar slide ************************************************** */
.content-box {
    display: flex;
    /* border: 2px solid blue; */
}

/* ****************************************************** Content bar slide ************************************************** */
/* ****************************************************** bar ************************************************** */
.sidebar {
    width: 15%;
    height: 960px;
    position: sticky;
    top: 65px;
    border-right: 1px solid rgb(67, 68, 92);
}

.sidebar ul {
    padding: 0px;
    list-style: none;
    text-align: center;
}

.sidebar ul li button {
    border: 0px;
    color: white;
    background-color: initial;
    width: 100%;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.2s;
    border-bottom: 1px solid rgb(67, 68, 92);
}

.sidebar ul li button:hover {
    color: rgb(117, 190, 246);
}
.sidebar ul li button:focus {
    color: rgb(117, 190, 246);
    border-top: 1px solid rgb(117, 190, 246);
    border-bottom: 1px solid rgb(117, 190, 246);
}

/* ****************************************************** bar ************************************************** */
/******************************************************* Right-Content ***************************************************/
.right-content {
    width: 85%;
    background-color: rgb(67, 68, 92);
    /* border: 2px solid red; */
}

/******************************************************* Right-Content ***************************************************/
/******************************************************* Carousel ***************************************************/
.slide {
    width: 100%;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    background-color: rgb(67, 68, 92);
}

.mySlides {
    width: 100%;
    display: none;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    padding: 30px 20px;
    position: absolute;
    bottom: 50px;
    right: 150px;
    /* border-radius: 30px; */
    width: 30%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 1s;
}
.text h5{
    margin-bottom: 5px;
    color: rgb(90, 191, 112);
}
.text h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.text p{
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}
.text button{
    color: white;
    font-size: 20px;
    padding: 15px;
    background-color: rgb(85, 149, 194);
    border: 0px;
}
.text button:hover{
    background-color: rgb(117, 190, 246);
}

.text:hover {
    background-color: rgb(255, 255, 255, 1);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/******************************************************* Carousel ***************************************************/
/* ****************************************************** Популярные товары ************************************************** */
.content {
    padding: 30px 0px;
    background-color: rgb(67, 68, 92);
}

.content h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.contBox {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    background-color: rgb(39, 40, 52);
    width: 400px;
    height: 500px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.content .img {
    background-size: 100% 100%;
    border-radius: 20px;
    height: 300px;
    margin-bottom: 5px;
}

.i1 {
    background-image: url(../img/Olson15.jpg);
}

.i2 {
    background-image: url(../img/unnamed.jpg);
}

.i3 {
    background-image: url(../img/stainless-steel-kitchen-countertop-image.jpg);
}

.i4 {
    background-image: url(../img/photo_2024-08-08_22-09-03.jpg);
}

.i5 {
    background-image: url(../img/photo_2024-08-08_22-09-50.jpg);
}

.i6 {
    background-image: url(../img/photo_2024-08-08_22-09-35.jpg);
}

.i1:hover {
    background-image: url(../img/img_5633.jpeg);
}

.i2:hover {
    background-image: url(../img/img_5129.jpeg);
}

.i3:hover {
    background-image: url(../img/img_5654.jpeg);
}

.i4:hover {
    background-image: url(../img/photo_2024-08-08_22-09-25.jpg);
}

.i5:hover {
    background-image: url(../img/photo_2024-08-08_22-10-04.jpg);
}

.i6:hover {
    background-image: url(../img/photo_2024-08-08_22-09-40.jpg);
}

.btnBox {
    text-align: center;
}

.box p {
    color: grey;
    margin-top: 5px;
}

/* ****************************************************** Популярные товары ************************************************** */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}



.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcsa {
    justify-content: space-around;
}

.jcfs {
    justify-content: flex-start;
}

.jcfe {
    justify-content: flex-end;
}

.aic {
    align-items: center;
}

.aifs {
    align-items: flex-start;
}

.aife {
    align-items: flex-end;
}

.hidden {
    display: none;
}


.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    opacity: 1;
    padding: 15px;
    cursor: pointer;
    z-index: 110;
}

.close::before,
.close::after {
    content: '';
    position: absolute;
    top: 5px;
    height: 20px;
    width: 2px;
    background-color: var(--color-main-dark);
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}

.main {
    /* background: var(--color-main-light); */
    /* min-height: 150vh; */
    position: relative;
    /* border: 2px solid red; */
}

.main .container {
    width: 100%;
    margin: 50px auto;
    /* border: 2px solid red;  */
    background-color: rgb(67, 68, 92);
}

.products {
    flex-wrap: wrap;
    margin-top: 0px;
    /* border: 2px solid blue;  */
}

.products .product {
    margin: 20px 10px 0;
    background: var(--color-third);
    border-radius: 8px;
    width: 350px;
    min-height: 300px;
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: all .2s ease-in-out;
    /* border: 2px solid red; */
    background-color: rgb(39, 40, 52);
    padding: 15px;
}

.products .product:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.products .product .favorites {
    width: 22px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 20;
}

.product .heart-lined {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.product:hover .heart-lined {
    opacity: 1;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.product .heart-lined svg {
    fill: var(--color-second);
}

.product .newImg {
    background-color: white;
}

.newNew {
    /* border: 2px solid red; */
    width: 30%;
    height: 30px;
    position: absolute;
    background-color: rgb(90, 191, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.products .product .image {
    width: 300px;
    height: 300px
}

.products .product .title {
    font-weight: bold;
    font-size: 20px;
    /* color: var(--color-second); */
    color: white;
    margin: 10px 0px;
}

.products .product-price {
    /* font-weight: 700;
    color: var(--color-second); */
    color: white;
    margin-bottom: 20px;
}

.products .product-price .price {
    margin-right: 5px;
}

.products .product .buy-button {
    /* background: var(--color-third); */
    /* border: 1px solid var(--color-second); */
    /* color: var(--color-second); */
    border-radius: 10px;
    background-color: rgb(66, 122, 161);
    font-size: 14px;
    color: white;
    font-weight: bold;
    border: 0px;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    margin-bottom: 25px;
    cursor: pointer;

}

.products .product .buy-button:hover {
    /* background-color: var(--color-second);
    border-color: var(--color-second);
    color: var(--color-third); */
    background-color: rgb(117, 190, 246);
}

.products .product .buy-button:active {
    transform: translateY(5px);
}

/* ****************************************************** О компании ************************************************** */
.content2 {
    padding: 30px 0px;
}

.contBox2 {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.box2 {
    width: 50%;
    border-radius: 20px;
    margin: 10px;
    font-size: 30px;
    color: white;
    outline: 2px solid #ff4f81;
    background-color: rgb(39, 40, 52);
    padding: 20px;
}

.box2_img {
    border-radius: 20px;
    width: 50%;
}

.box2_img img {
    border-radius: 20px;
}

.box2 h1 {
    color: white;
    font-size: 50px;
}

.box2 p {
    color: gray;
    font-size: 20px;
    margin-top: 20px;
}

.box2 a {
    text-decoration: none;
    font-size: 25px;

}

/* ****************************************************** О компании ************************************************** */
/* ****************************************************** Идеи интерьеров ************************************************** */
.content3 {

    padding: 30px 0px;
}

.content3 h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.contBox3 {
    /* outline: 2px solid red; */
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
}

.box3 {
    /* outline: 2px solid blue; */
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.imgBox1 {
    /* outline: 2px solid red; */
    height: 700px;
    width: 50%;
}

.imgBox2 {
    /* outline: 2px solid blue; */
    height: 700px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img3 {
    /* outline: 2px solid green; */
    height: 345px;
    width: 100%;
}

.btn3 {
    padding: 10px 20px;
    font-size: 25px;
    background-color: #ff4f81;
    color: white;
    border: 2px solid #ff4f81;
    border-radius: 10px;
    margin-top: 20px;
}

.btn3:hover {
    background-color: black;
}

/* ****************************************************** Идеи интерьеров ************************************************** */
/* ****************************************************** Отвечаем, опережая ваши вопросы ************************************************** */
.content4 {
    background-color: #dadada;
}

.contBox4 {
    display: flex;
}

.linkBox {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.box4_1 {
    width: 40%;
    padding: 30px;
}

.box4_1 h1 {
    margin-bottom: 30px;
}

.box4_2 {
    width: 59%;
    padding: 30px;
}

.dr {
    padding: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.dw {
    padding: 15px;
    transition: all 0s;
    background-color: rgb(39, 40, 52);
    color: white;
}

.dw p {
    font-size: 18px;
}

/* ****************************************************** Отвечаем, опережая ваши вопросы ************************************************** */
/* ****************************************************** Ассортимент ************************************************** */
.content5 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    background-color: rgb(39, 40, 52);
}

.contBox5 {
    padding: 20px;
    width: 30%;
    outline: 2px solid #ff4f81;
}

.contBox5 h3 {
    margin-bottom: 15px;
    color: white;
}

.contBox5 p {
    color: grey;
}

/* ****************************************************** Ассортимент ************************************************** */
/* ****************************************************** Интернет магазин ************************************************** */
.content6 {
    padding: 20px;
    margin-top: 20px;
    /* height: 800px; */
    background-color: rgb(39, 40, 52);
    border-bottom: 1px solid gray;
}

.mt-30 {
    margin-top: 30px
}

.mt-5 {
    margin-top: 5px
}

.content6 h1 {
    color: white;
}

.content6 p {
    color: grey;
}

.content6 ul {
    margin-top: 20px;
    padding-left: 30px;
    color: grey;
}

.content6 li {
    margin-top: 5px;
    color: grey;
}

/* ****************************************************** Интернет магазин ************************************************** */
/* ****************************************************** Footer ************************************************** */
footer {
    background-color: rgb(39, 40, 52);
    /* height: 610px; */
    padding-top: 50px;
    display: flex;
}

footer div {
    height: 500px;
    width: 33%;
}

footer div h2 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

footer div h3 {
    text-align: center;
    margin-top: 10px;
    color: white;
}

footer div a {
    text-align: center;
    margin-top: 20px;
    color: gray;
    display: block;
    text-decoration: none;
    font-size: 20px;
}

footer div p {
    text-align: center;
    margin-top: 25px;
    color: gray;
    display: block;
    text-decoration: none;
    font-size: 20px;
}

/* ****************************************************** Footer ************************************************** */
/* CART */

main .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 95;
    display: none;
    transition: background-color .2s;

}

main .overlay.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.cart {
    position: fixed;
    top: 0;
    right: -400px;
    /* right: 0; */
    width: 400px;
    min-height: 100vh;
    max-height: 100vh;
    background-color: var(--color-third);
    transition: right .2s ease-in-out;
    z-index: 95;
    overflow-y: auto;

}

.cart.active {
    right: 0;
    transition: right .2s ease-in-out;
}


.cart .cart-container {
    padding: 50px 0;
}

.cart .cart-empty-container,
.cart .cart-order-container {
    width: 350px;
}

.cart .cart-empty-container {
    min-height: calc(100vh - 100px);
}

.cart .cart-empty,
.cart .cart-order {
    font-size: 28px;
    font-weight: 700;
}

.cart .cart-empty-container .cart-empty {
    margin-bottom: 30px;
    color: var(--color-main-medium);
}

.cart .cart-empty-container .icon {
    fill: var(--color-main-medium);
}

.cart .cart-order {
    margin-bottom: 30px;
}

.cart .cart-item {
    position: relative;
}

.cart .cart-item .close::before,
.cart .cart-item .close::after {
    content: '';
    position: absolute;
    top: 5px;
    height: 15px;
    width: 2px;
    background-color: var(--color-second);
}

.cart .cartline {
    width: 350px;
    margin-bottom: 20px;
}

.cart .cart-image-container {
    width: 120px;
    overflow: hidden;
    margin-right: 10px;
}

.cart .cart-img {
    width: 100%;
    transform: translateY(-15px);
}

.cart .cart-model {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.cart .control {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: var(--color-main-light);
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
    border: none;
}

.cart .minus.disabled {
    color: var(--color-main-medium);
}

.cart .current-items {
    margin: 0 10px;
    min-width: 20px;
}

.cart .cart-price {
    margin-right: 5px;
    font-size: 16px;
    font-weight: 700;
    min-width: 90px;
}

.cart .rouble {
    font-size: 16px;
    font-weight: 700;
}

.cart .cart-total-container {
    width: 350px;
    margin-bottom: 30px;
}

.cart .cart-total-container .title {
    font-size: 20px;
}

.cart .cart-total-container .total-price {
    font-size: 20px;
    font-weight: 700;
}

.cart .cart-total-container .rouble {
    font-size: 20px;
}

.cart .cart-btn {
    width: 350px;
}

.cart .cart-btn .btn-order {
    background-color: var(--color-second);
    letter-spacing: 1px;
    color: var(--color-third);
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    margin-bottom: 25px;
    cursor: pointer;
    border: none;
}

/* CART */
/* ****************************************************** BTN ************************************************** */
.vanaBtn {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 100px 0px 0px;
    padding: 0px 20px;
    width: 100%;
}

.vanaBtn button {
    font-size: 20px;
    border: 0px;
    padding: 15px 50px;
    background-color: rgb(66, 122, 161);
    color: white;
}

.vanaBtn button:active {
    transform: translateY(5px);
}

.vanaBtn button:hover {
    background-color: rgb(117, 190, 246);
}

.vanaBtn button .fa-angle-left {
    font-weight: bold;
    transform: translateX(-20px);
}

.vanaBtn button .fa-angle-right {
    font-weight: bold;
    transform: translateX(20px);
}

/* ****************************************************** BTN ************************************************** */
.vrap {
    flex-wrap: wrap;
}

.newH1 {
    width: 100%;
    text-align: center;
    color: white;
}

#vana {
    border-top: 1px solid rgb(67, 68, 92);
}

.vana {
    display: none;
}

.veshilka {
    display: none;
}

.plita {
    display: none;
}

.zont {
    display: none;
}

.kreslo {
    display: none;
}

.lesnitsa {
    display: none;
}

.marmit {
    display: none;
}

.perila {
    display: none;
}

.skameyka {
    display: none;
}

.stelaji {
    display: none;
}

.stoyka {
    display: none;
}

.stol_steklo {
    display: none;
}

.stol {
    display: none;
}

.telejki {
    display: none;
}

.shkaf {
    display: none;
}