/* *{
    outline: 2px solid red;
} */
:root {
    --color-main: #e0dede;
    --color-main-medium: #868484;
    --color-main-dark: #333;
    --color-main-light: #f5f4f4;
    --color-main-lighter: #FDFDFD;
    --color-second: #000;
    --color-third: #fff;
}


body {
    font-family: 'Roboto';
    background-color: rgb(39, 40, 52);
    /* border: 2px solid red; */
    width: 100%;
}

.page {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
/* ********************************************** Preloader ***********************************************************/
.preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    /* background-image: url(../img/preloader3.gif); */
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    /* border: 2px solid red; */
}
.preloader svg {
    width: 100%;
    height: 300px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 40%;*/
    transform: translateX(300px );
    /* background-color: aliceblue; */
    /* border: 2px solid blue; */
    /* border: 2px solid red; */
}

.preloader svg text {
    font-family: sans-serif;
    font-size: 10rem;
    stroke: #ffff;
    color: rgb(226, 139, 8);
    stroke-width: 3px;
    fill: transparent;
    animation: ani 5s forwards;
    flex-wrap: wrap;
}

@keyframes ani {
    from {
        stroke-dasharray: 0 70%;
    }
    
    to {
        stroke-dasharray: 50% 0;
        stroke-dashoffset: 10%;
    }
}
.done{
    opacity: 0;
    visibility: hidden;
}
@media screen and (max-width: 400px) {
    .preloader svg text {
        font-size: 3.2rem;
        z-index: 10;
    }
      .preloader svg {
        transform: translateX(0px );
          height: 150px;
    }
}
@media screen and (max-width: 360px) {
    .preloader svg text {
        font-size: 2.8rem;
        z-index: 10;
    }
      .preloader svg {
          height: 150px;
    }
}
/* ********************************************** Preloader ***********************************************************/
/* ****************************************************** Menyu ************************************************** */
.menyu {
    background-color: rgb(67, 68, 92);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    position: sticky;
    border-bottom: 1px solid grey;
    top: 0px;
    z-index: 2;
}

.ul-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
    width: 83%;
    padding-left: 5px;
}

.ul-2 {
    width: 17%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: end;
    list-style: none;
    padding-right: 5px;
    /* border: 2px solid blue; */
}
.counter0{
    background-color: rgb(117, 190, 246);
    padding: 2px 7px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    
}

.ul-2 li button{
    display: flex;
}
.ul-2 li a{
    display: block;
}
.fa-address-card{
    margin-right: 5px;
}
.menyu ul li {
    color: rgb(138, 154, 153);
}
.menyu ul li button{
    padding: 20px;
    color: rgb(138, 154, 153);
    font-size: 20px;
    cursor: pointer;
    border: 0px;
    background-color: initial;
}

.menyu ul li button:hover {
    color: rgb(117, 190, 246);
}
.menyu ul li button:focus {
    color: rgb(117, 190, 246);
}

/* .ul-2 .search-bar button svg {
    color: var(--color-main-medium);
} */


.ul-2 .shopping-cart {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.ul-2 .shopping-cart svg {
    fill: rgb(117, 190, 246);
}

/* ********************************************** Menyu left drop ***********************************************************/
.spanchik {
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.leftContact {
    margin-top: 50px;
}

.leftContact2 {
    text-align: center;
}
.leftContact2 a{
    padding: 0px;
    /* border: 2px solid red; */
    display: inline;
}

.leftContact p {
    color: #818181;
    margin-bottom: 5px;
}

.leftContact h3 a {
    color: #999;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

.leftContact h4 {
    color: #999;
}

.leftContact a {
    font-size: 15px;
    color: rgb(42, 188, 98);
    text-decoration: underline;
}

.leftContact i {
    color: #818181;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 20px;
}
.sidenav .formSentLeftBTN{
    border: 0px;
    padding: 10px;
    background-color: rgb(117, 190, 246);
    color: white;
    margin-left: 20px;
    font-size: 15px;
    margin-top: 20px;
}

@media screen and (max-width: 400px) {
    .menyu{
        justify-content: space-between;
        width: 100%;
    }
    .ul-1{
        display: none;
    }
    .ul-2{
        width: initial;
    }
    .spanchik{
        display:block;
        /* border: 2px solid red; */
        margin-left: 10px;
    }
    .admin{
        display: none;
    }
}
/* ********************************************** Menyu left drop ***********************************************************/
/* ****************************************************** Menyu ************************************************** */
/* ****************************************************** Header ************************************************** */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    background-color: rgb(39, 40, 52);
}

.logo {
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: gray;
    background-image: url(../img/logotip.jpg);
    background-size: 110% 110%;
    background-position: -4px -4px;
    border-radius: 50%;
    margin: 0px 20px;
}

.nameKomp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.stainless-steel-text {
    font-size: 48px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    background: linear-gradient(90deg, #e0e0e0, #b8b8b8, #e0e0e0);
    -webkit-background-clip: text; /* Обрезка фона для текста */
    -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 25px rgba(255, 255, 255, 0.6); /* Тень для текста */
  }

.serch {
    display: flex;
    gap: 5px;
}

.nameKomp h1 {
    color: white;
    font-size: 40px;
}

.serchInput {
    background-color: rgb(39, 40, 52);
    outline: 1px solid rgb(67, 68, 97);
    padding: 10px;
    width: 70%;
    border: 0px;
    font-size: 25px;
    color: white;
}

.serchInput:hover {
    outline: 1px solid rgb(66, 122, 161);
}

.serchButton {
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(66, 122, 161);
    color: white;
    border: 0px;
    cursor: pointer;
}

.serchButton:hover {
    background-color: rgb(117, 190, 246);
}


.contact1 h4 {
    font-size: 25px;
    margin-top: 10px;
}

.contact1 h4 a {
    cursor: pointer;
    color: white;
}

.contact1 h4 a:hover {
    color: rgb(117, 190, 246);
}


.contact2 button {
    padding: 10px 30px;
    font-size: 20px;
    background-color: green;
    border: 2px solid green;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.contact2 button:hover {
    background-color: white;
    color: green;
    border: 2px solid green;
}
.nameKomp2{
    display: none;
}
.nameKomp2 h1{
    color: white;
    /* border: 1px solid blue; */
}
@media screen and (max-width: 400px) {
    header{
        display: none;
    }
    .nameKomp2{
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .corNon{
        display: none;
    }
}
/* ****************************************************** Header ************************************************** */
/* ****************************************************** Content bar slide ************************************************** */
.content-box {
    display: flex;
    /* border: 2px solid blue; */
}

/* ****************************************************** Content bar slide ************************************************** */
/* ****************************************************** bar ************************************************** */
.sidebar {
    width: 15%;
    height: 960px;
    position: sticky;
    top: 65px;
    border-right: 1px solid rgb(67, 68, 92);
}

.sidebar ul {
    padding: 0px;
    list-style: none;
    text-align: center;
    /* border: 1px solid blue; */
}

.sidebar ul li button {
    border: 0px;
    color: white;
    background-color: initial;
    width: 100%;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.2s;
    border-bottom: 1px solid rgb(67, 68, 92);
}

.sidebar ul li button:hover {
    color: rgb(117, 190, 246);
}
.sidebar ul li button:focus {
    color: rgb(117, 190, 246);
    border-top: 1px solid rgb(117, 190, 246);
    border-bottom: 1px solid rgb(117, 190, 246);
}
.catigoryLeft{
    /* border: 1px solid blue; */
    position: fixed;
    color: white;
    font-size: 40px;
    z-index: 2;
    display: none;
    width: 40px;
    text-align: center;
}
@media screen and (max-width: 400px) {
    .catigoryLeft{
        display: block;
    }
    .sidebar{
       /* border: 1px solid red; */
       width: 100%;
       position: fixed;
       top: 64px;
       height: 100%;
       left: -400px;
       transition: all 1s;
       z-index: 1;
       background-color: rgb(39, 40, 52);
    }
    .sidebarRight{
        left: 0px;
    }
}
/* ****************************************************** bar ************************************************** */
/******************************************************* Right-Content ***************************************************/
.right-content {
    width: 85%;
    background-color: rgb(67, 68, 92);
    /* border: 2px solid red; */
}

/******************************************************* Right-Content ***************************************************/
/******************************************************* Carousel ***************************************************/
.slide {
    width: 100%;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    background-color: rgb(67, 68, 92);
}

.mySlides {
    width: 100%;
    display: none;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    padding: 30px 20px;
    position: absolute;
    bottom: 50px;
    right: 150px;
    /* border-radius: 30px; */
    width: 30%;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 1s;
}
.text h4{
    margin-bottom: 5px;
    color: rgb(90, 191, 112);
}
.text h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.text p{
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}
.text button{
    color: white;
    font-size: 20px;
    padding: 15px;
    background-color: rgb(85, 149, 194);
    border: 0px;
    cursor: pointer;
}
.text button:hover{
    background-color: rgb(117, 190, 246);
}

.text:hover {
    background-color: rgb(255, 255, 255, 1);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 5px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbb;
    /* border-radius: 50%; */
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgb(117, 190, 246);
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
@media screen and (max-width: 400px) {
    .right-content {
        width: 100%;
    }
    .text{
        background-color: rgba(255, 255, 255, 0.3);
        width: 70%;
        right: 50px;
        height: initial;
        padding: 15px 10px;
        bottom: 0px;
    }
    .text h2{
        font-size: 21px;
    }
    .text p{
        font-size: 15px;
    }
    .text button{
        font-size: 15px;
        padding: 10px;
    }
    .text h4{
        color: rgb(90, 191, 112);
        font-size: 12px;
    }
    .mySlides {
        height: 250px;
    }
    .dot {
        height: 3px;
        width: 30px;
    }
}

/******************************************************* Carousel ***************************************************/
/* ****************************************************** Популярные товары ************************************************** */
.content {
    padding: 30px 0px;
    background-color: rgb(67, 68, 92);
    /* border: 2px solid red; */
}

.content h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.content .contBox {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    /* border: 2px solid blue; */
}

.content .contBox .box {
    background-color: rgb(39, 40, 52);
    width: 450px;
    height: 620px;
    margin: 10px;
    /* text-align: center; */
    color: white;
    cursor: pointer;
}

.content .contBox .box .img {
    background-size: 100% 100%;
    /* border-radius: 20px; */
    height: 400px;
    margin-bottom: 5px;
    background-color: white;
    transition: all 1s;
}
.content .contBox .box h3 {
    /* border: 2px solid red; */
    margin: 20px 20px 10px 20px;
    font-size: 25px;
}
.content .contBox .box p {
    color: grey;
    margin: 0px 20px 5px 20px;
    font-size: 20px;
}

.i1 {
    background-image: url(../img/8_perila/perila9.jpg);
}

.i2 {
    background-image: url(../img/10_stelaji/stelaji2.png);
}

.i3 {
    background-image: url(../img/13_stol/stol2.jpg);
}

.i4 {
    background-image: url(../img/1_vana/vana4.jpg);
}

.i5 {
    background-image: url(../img/5_kreslo/kreslo1.jpg);
}

.i6 {
    background-image: url(../img/12_stol_steklo/stol_steklo1.jpg);
}

.i1:hover {
    background-image: url(../img/8_perila/perila1.png)
}

.i2:hover {
    background-image: url(../img/10_stelaji/stelajiFon.jpg);
}

.i3:hover {
    background-image: url(../img/13_stol/stolFon.jpg);
}

.i4:hover {
    background-image: url(../img/1_vana/vanaFon.jpg);
}

.i5:hover {
    background-image: url(../img/5_kreslo/kresloFon.jpg);
}

.i6:hover {
    background-image: url(../img/12_stol_steklo/stolFon.jpg);
}
@media screen and (max-width: 400px) {
    .content .contBox .box {
        width: 300px;
        height: initial;
        padding: 10px;
        /* border: 2px solid red; */
    }
    .content .contBox .box .img {
        height: 270px;
    }
    .content .contBox .box h3 {
        font-size: 20px;
        margin: 10px 10px 10px 10px;
    }
    .content .contBox .box p {
        font-size: 15px;
        margin: 0px 10px 5px 10px;
    }
}
/* ****************************************************** Популярные товары ************************************************** */

/* ul {
    list-style-type: none;
} */

a {
    text-decoration: none;
}



.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcsa {
    justify-content: space-around;
}

.jcfs {
    justify-content: flex-start;
}

.jcfe {
    justify-content: flex-end;
}

.aic {
    align-items: center;
}

.aifs {
    align-items: flex-start;
}

.aife {
    align-items: flex-end;
}

.hidden {
    display: none;
}


.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    opacity: 1;
    padding: 15px;
    cursor: pointer;
    z-index: 110;
}

.close::before,
.close::after {
    content: '';
    position: absolute;
    top: 5px;
    height: 20px;
    width: 2px;
    background-color: var(--color-main-dark);
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}

.main {
    /* background: var(--color-main-light); */
    /* min-height: 150vh; */
    position: relative;
    /* border: 2px solid red; */
}

.main .container {
    width: 100%;
    margin: 50px auto;
    /* border: 2px solid red;  */
    background-color: rgb(67, 68, 92);
}

.products {
    flex-wrap: wrap;
    margin-top: 0px;
    /* border: 2px solid blue;  */
}

.products .product {
    margin: 20px 10px 0;
    background: var(--color-third);
    border-radius: 8px;
    width: 350px;
    min-height: 300px;
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: all .2s ease-in-out;
    /* border: 2px solid red; */
    background-color: rgb(39, 40, 52);
    padding: 15px;
}

.products .product:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.products .product .favorites {
    width: 22px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 20;
}

.product .heart-lined {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.product:hover .heart-lined {
    opacity: 1;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.product .heart-lined svg {
    fill: var(--color-second);
}

.product .newImg {
    background-color: white;
}

.newNew {
    /* border: 2px solid red; */
    width: 30%;
    height: 30px;
    position: absolute;
    background-color: rgb(90, 191, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.sale {
    /* border: 2px solid red; */
    width: 25%;
    height: 30px;
    position: absolute;
    left: 130px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.foiz {
    /* border: 2px solid red; */
    width: 15%;
    height: 30px;
    position: absolute;
    left: 130px;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.products .product .image {
    width: 300px;
    height: 300px
}

.products .product .title {
    font-weight: bold;
    font-size: 20px;
    /* color: var(--color-second); */
    color: white;
    margin: 10px 0px;
}

.products .product-price {
    /* font-weight: 700;
    color: var(--color-second); */
    color: white;
    margin-bottom: 20px;
}

.products .product-price .price {
    margin-right: 5px;
}

.products .product .buy-button {
    /* background: var(--color-third); */
    /* border: 1px solid var(--color-second); */
    /* color: var(--color-second); */
    border-radius: 10px;
    background-color: rgb(66, 122, 161);
    font-size: 14px;
    color: white;
    font-weight: bold;
    border: 0px;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    margin-bottom: 25px;
    cursor: pointer;

}

.products .product .buy-button:hover {
    /* background-color: var(--color-second);
    border-color: var(--color-second);
    color: var(--color-third); */
    background-color: rgb(117, 190, 246);
}

.products .product .buy-button:active {
    transform: translateY(5px);
}
@media screen and (max-width: 400px) {
    .products .product{
        /* border: 2px solid red; */
        width: 330px;
    }
    .sale {
        left: 114px;
    }
    .foiz {
        left: 114px;
    }
}

/* ****************************************************** О компании ************************************************** */
.content2 {
    padding: 100px 0px 100px;
    /* border: 2px solid red; */
    margin-bottom: 50px;
}

.contBox2 {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
}

.contBox2 .box2 {
    width: 48%;
    /* border-radius: 20px; */
    font-size: 30px;
    color: white;
    outline: 2px solid rgb(85, 149, 194);
    background-color: rgb(39, 40, 52);
    padding: 20px;
}

.contBox2 .box2_img {
    background-image: url(../img/fon125.jpg);
    background-size: 100% 100%;
    /* border-radius: 20px; */
    width: 50%;
}
.contBox2 .box2 h1 {
    color: white;
    font-size: 50px;
}

.contBox2 .box2 p {
    color: gray;
    font-size: 20px;
    margin-top: 20px;
}

.contBox2 .box2 a {
    text-decoration: none;
    font-size: 25px;
    
}
@media screen and (max-width: 400px) {
    .content2 {
        padding: 10px 0px 30px;
        margin-bottom: 0px;
    }
    .contBox2{
        flex-wrap: wrap;
    }
    .contBox2 .box2 {
        width: 100%;
    }
    
    .contBox2 .box2_img {
        margin-top: 10px;
        width: 100%;
        height: 250px;
    }
    .contBox2 .box2 h1 {
        font-size: 30px;
    }
    
    .contBox2 .box2 p {
        font-size: 17px;
    }
    
    .contBox2 .box2 a {
        font-size: 20px;
    
    }
}

/* ****************************************************** О компании ************************************************** */
/* ****************************************************** Идеи интерьеров ************************************************** */
/* /////////////////////////// SWIPER \\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.swiper {
    width: 94%;
    height: 800px;
    margin-top: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}
/* /////////////////////////// SWIPER \\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.swiperH1 {
    text-align: center;
    color: white;
    margin-top: 20px;
    /* border: 2px solid red; */
}

.imgBox1 {
    height: 800px;
    width: 60%;
    background-size: 100% 100%;
}

.imgBox2 {
    height: 800px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.img3 {
    height: 50%;
    width: 100%;
    background-size: 100% 100%;
}
.swiper-slide img{
    display: none;
}
@media screen and (max-width: 400px) {
    .swiper {
        width: 100%;
        height: 300px;
        /* border: 2px solid red; */
    }
    .imgBox1{
        display: none;
    }
    .imgBox2{
        display: none;
    }
    .swiper-slide img{
        display: block;
        width: 100%;
        height: 100%;
        /* border: 2px solid red; */
        /* margin-bottom: 150px; */
    }
    .swiper-slide{
        /* border: 2px solid green; */
    }
    .swiper-wrapper{
        /* border: 2px solid blue; */
        
    }
    .swiperH1 {
        text-align: center;
        margin-bottom: 0px;
        color: white;
    }
    .swiper-button-next{
        transform: scale(0.7);
    }
    .swiper-button-prev{
        transform: scale(0.7);
    }
}
/* ****************************************************** Идеи интерьеров ************************************************** */
/* ****************************************************** Отвечаем, опережая ваши вопросы ************************************************** */
.content4 {
    padding-top: 60px;
    margin-bottom: 50px;
}

.contBox4 {
    background-color: rgb(39, 40, 52);
    display: flex;
    margin: auto;
    width: 95%;
}

/* .linkBox {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
} */
.dw ul{
    padding: 20px;
}
.dw ul li{
    padding: 10px;
}
.box4_1 {
    width: 40%;
    padding: 30px;
}

.box4_1 h1 {
    margin-bottom: 30px;
    color: white;
}

.box4_1 div {
    margin-bottom: 50px;
}
.box4_1 p{
    color: rgb(182, 182, 182);
}
.box4_1 .fa-telegram{
    color: rgb(39, 40, 52);
    background-color: rgb(117, 190, 246);
    border-radius: 50%;
    outline: 2px solid rgb(39, 40, 52);
    outline-offset: -1px;
    font-size: 40px;
    cursor: pointer;
}
.box4_1 h2{
    margin-bottom: 10px;
}
.box4_1 h2 a{
    color: white;
}
.box4_1 h2 a:hover{
    color: rgb(117, 190, 246);
}
.box4_1 h3 {
    color: rgb(182, 182, 182);
    margin-bottom: 30px;
}

.box4_2 {
    width: 59%;
    padding: 30px;
}
.box4_1 .btnBox button{
    padding: 20px 30px;
    font-size: 20px;
    border: 0px;
    background-color: rgb(85, 149, 194);
    color: white;
}
.box4_1 .btnBox button:hover{
    background-color: rgb(117, 190, 246);
}
.dr {
    padding: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.dr .fa-angle-double-down{
    font-size: 30px;
}

.dw {
    padding: 15px;
    transition: all 0s;
    background-color: rgb(226, 226, 226);
    color: black;
}

.dw p {
    font-size: 18px;
}
@media screen and (max-width: 400px) {
    .content4 .contBox4 {
        background-color: rgb(39, 40, 52);
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .box4_1 {
        width: 100%;
        padding: 30px 30px 0px;
    }
    .box4_2 {
        width: 100%;
        padding: 0px 20px 20px;
    }
    .dr {
        padding: 20px;
        font-size: 18px;
    }
}
/* ****************************************************** Отвечаем, опережая ваши вопросы ************************************************** */
/* ****************************************************** Ассортимент ************************************************** */
.content5 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    background-color: rgb(39, 40, 52);
}

.content5 .contBox5 {
    padding: 20px;
    width: 30%;
    outline: 2px solid #ff4f81;
    display: flex;
    gap: 10px;
}

.content5 .contBox5 h3 {
    margin: 15px 0px;
    color: white;
    font-size: 25px;
}

.content5 .contBox5 p {
    color: #999;
    font-size: 20px;
}
.svgBox5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 10%; */
}
.svgBox5_2{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* width: 90%; */
}
.svgBox5 svg{
    fill: #999;
}
@media screen and (max-width: 400px) {
    .content5{
        flex-wrap: wrap;
    }
    .content5 .contBox5 {
        padding: 20px;
        width: 95%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .svgBox5_2{
        justify-content: center;
        text-align: center;
    }
}
/* ****************************************************** Ассортимент ************************************************** */
/* ****************************************************** Интернет магазин ************************************************** */
.content6 {
    padding: 20px;
    margin-top: 20px;
    /* height: 800px; */
    background-color: rgb(39, 40, 52);
    border-bottom: 1px solid gray;
}

.mt-30 {
    margin-top: 30px
}

.mt-5 {
    margin-top: 5px
}

.content6 h1 {
    color: white;
}

.content6 p {
    color: grey;
}

.content6 ul {
    margin-top: 20px;
    padding-left: 30px;
    color: grey;
}

.content6 li {
    margin-top: 5px;
    color: grey;
}
@media screen and (max-width: 400px) {
    .content6 h1 {
        font-size: 22px;
    }
}

/* map */
    .map{
        width: 100%;
        height: 400px;
    }
/* Footer */
footer {
    background-color: rgb(39, 40, 52);
    /* height: 610px; */
    padding: 50px 10px 0px;
    display: flex;
}

footer div {
    height: 500px;
    width: 33%;
}

footer div h2 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

footer div h3 {
    text-align: center;
    margin-top: 10px;
    color: white;
}

footer div a {
    text-align: center;
    margin-top: 20px;
    color: gray;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}
footer div a:hover {
    color: rgb(117, 190, 246);
}

footer div p {
    text-align: center;
    margin-top: 25px;
    color: gray;
    display: block;
    text-decoration: none;
    font-size: 20px;
}
footer .fa-telegram{
    border-radius: 50%;
    margin-left: 10px;
    font-size: 30px;
    cursor: pointer;
}
@media screen and (max-width: 400px) {
    footer .col-1{display: none;}
    footer .col-2{display: none;}
    footer .col-3{
        width: 100%;
    }
}
/* ****************************************************** Footer ************************************************** */
/* CART */

main .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 95;
    display: none;
    transition: background-color .2s;

}

main .overlay.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.cart {
    position: fixed;
    top: 0;
    right: -400px;
    /* right: 0; */
    width: 400px;
    min-height: 100vh;
    max-height: 100vh;
    background-color: var(--color-third);
    transition: right .2s ease-in-out;
    z-index: 95;
    overflow-y: auto;
}

.cart.active {
    right: 0;
    transition: right .2s ease-in-out;
}


.cart .cart-container {
    padding: 50px 0;
}

.cart .cart-empty-container,
.cart .cart-order-container {
    width: 350px;
}

.cart .cart-empty-container {
    min-height: calc(100vh - 100px);
}

.cart .cart-empty,
.cart .cart-order {
    font-size: 28px;
    font-weight: 700;
}

.cart .cart-empty-container .cart-empty {
    margin-bottom: 30px;
    color: var(--color-main-medium);
}

.cart .cart-empty-container .icon {
    fill: var(--color-main-medium);
}

.cart .cart-order {
    margin-bottom: 30px;
}

.cart .cart-item {
    position: relative;
}

.cart .cart-item .close::before,
.cart .cart-item .close::after {
    content: '';
    position: absolute;
    top: 5px;
    height: 15px;
    width: 2px;
    background-color: var(--color-second);
    outline: 1px solid red;
}

.cart .cartline {
    width: 350px;
    margin-bottom: 20px;
}

.cart .cart-image-container {
    width: 120px;
    overflow: hidden;
    margin-right: 10px;
    /* border: 2px solid green; */
}

.cart .cart-img {
    width: 100%;
    /* border: 2px solid blue; */
}

.cart .cart-model {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    /* border: 2px solid red; */
}

.cart .control {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: var(--color-main-light);
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
    border: none;
}

.cart .minus.disabled {
    /* color: var(--color-main-medium); */
}

.cart .current-items {
    margin: 0 10px;
    min-width: 20px;
}

.cart .cart-price {
    margin-right: 5px;
    font-size: 16px;
    font-weight: 700;
    min-width: 90px;
}

.cart .rouble {
    font-size: 16px;
    font-weight: 700;
}

.cart .cart-total-container {
    width: 350px;
    margin-bottom: 30px;
}

.cart .cart-total-container .title {
    font-size: 20px;
}

.cart .cart-total-container .total-price {
    font-size: 20px;
    font-weight: 700;
}

.cart .cart-total-container .rouble {
    font-size: 20px;
}

.cart .cart-btn {
    width: 350px;
    /* border: 2px solid red; */
}
.cart .cart-btn h1{
    text-align: center;
}
.cart .cart-btn input{
    padding: 10px;
    width: 50%;
    font-size: 18px;
    transition: all 1s;
}
.cart .cart-btn input:focus{
    width: 100%;
    outline: 0px;

}
.cart .cart-btn h4{
    margin-top: 20px;
    font-size: 20px;
    color: #222;
}

.red{
    color: red;
}
.orderNameBorder{
    animation: bord 1s forwards;
    border: 2px solid red;
    border: 0px;
}
@keyframes bord {
    0%{
        border: 2px solid black;
    }
    20%{
        border: 2px solid red;
    }
    40%{
        border: 2px solid black;
    }
    60%{
        border: 2px solid red;
    }
    80%{
        border: 2px solid black;
    }
    100%{
        border: 2px solid red;
    }
}
.orderNameAdd{
    border: 2px solid green;

}
.cart .cart-btn .btn-order {
    background-color: var(--color-second);
    letter-spacing: 1px;
    color: var(--color-third);
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    margin-bottom: 25px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}
@media screen and (max-width: 400px) {
    .cart {
        /* right: -400px; */
        width: 100%;
    }
}
/* CART */
/* ****************************************************** BTN ************************************************** */
.vanaBtn {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px 0px;
    padding: 0px 20px;
    width: 100%;
}

.vanaBtn button {
    font-size: 20px;
    border: 0px;
    padding: 15px 50px;
    background-color: rgb(66, 122, 161);
    color: white;
}

.vanaBtn button:active {
    transform: translateY(5px);
}

.vanaBtn button:hover {
    background-color: rgb(117, 190, 246);
}

.vanaBtn button .fa-angle-left {
    font-weight: bold;
    transform: translateX(-20px);
}

.vanaBtn button .fa-angle-right {
    font-weight: bold;
    transform: translateX(20px);
}
@media screen and (max-width: 400px) {
    .vanaBtn {
        padding: 0px 5px;
        width: 100%;
    }
    .vanaBtn button {
        font-size: 15px;
        border: 0px;
        padding: 10px 13px;
        background-color: rgb(66, 122, 161);
        color: white;
    }
    .vanaBtn button .fa-angle-left {
        transform: translateX(-8px);
    }
    
    .vanaBtn button .fa-angle-right {
        transform: translateX(8px);
    }
}
/* ****************************************************** BTN ************************************************** */
.vrap {
    flex-wrap: wrap;
    /* border: 2px solid red; */
    justify-content: center;
}

.newH1 {
    width: 100%;
    text-align: center;
    color: white;
}

#vana {
    border-top: 1px solid rgb(67, 68, 92);
}

.vana {
    display: none;
}

.veshilka {
    display: none;
}

.plita {
    display: none;
}

.zont {
    display: none;
}

.kreslo {
    display: none;
}

.lesnitsa {
    display: none;
}

.marmit {
    display: none;
}

.perila {
    display: none;
}

.skameyka {
    display: none;
}

.stelaji {
    display: none;
}

.stoyka {
    display: none;
}

.stol_steklo {
    display: none;
}

.stol {
    display: none;
}

.telejki {
    display: none;
}

.shkaf {
    display: none;
}

/* ****************************************************** BTN ************************************************** */
/* ****************************************************** formSent ************************************************** */
.formSent{
    /* border: 2px solid red; */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgb(39, 40, 52,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 3;
}
.formSentBox{
    /* border: 2px solid blue; */
    width: 1100px;
    height: 650px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
}
.formSentInput{
    /* border: 2px solid red; */
    width: 45%;
    padding: 15px;
    text-align: center;
}
.formSentInput h1{
    margin-bottom: 5px;
    text-align: left;
    transform: translateX(45px);
}
.formSentInput p{
    text-align: left;
    transform: translateX(45px);
    font-size: 18px;
    margin-bottom: 20px;
    
}
.formSentInput h3{
    text-align: left;
    margin: 0px;
    color: #333;
    transform: translateX(45px);
}
.formSentInput h3 b{
    color: red;
    font-style: italic;
}
.formSentInput input{
    margin-bottom: 20px;
    width: 80%;
    padding: 15px;
    font-size: 15px;
}
.formSentInput textarea{
    margin-bottom: 20px;
    width: 80%;
    height: 200px;
    padding: 15px;
    font-size: 15px;
}
.formSentInput .formSentSubmit{
    width: 80%;
    padding: 15px;
    font-size: 20px;
    border: 0px;
    background-color: rgb(85, 149, 194);
    color: white;
}
.formSentInput .formSentSubmit:hover{
    background-color: rgb(117, 190, 246);
    
}
.formSentImg{
    width: 55%;
    /* border: 2px solid green; */
    background-image: url(../img/operator1.png);
    background-size: 100% 100%;
    background-color: #f5f4f4;
    border-radius: 10px;
}
.formSentImg button{
    border: 0px;
    font-size: 40px;
    padding: 5px 15px;
    background-color: #e8e8e8;
    border-radius: 10px;
    transform: translate(540px,10px);
    transition: all 1s;
    cursor: pointer;
}
.formSentImg button:hover{
    color: red;
}
.formSentInput .formSentDropX{
    border: 0px;
    font-size: 20px;
    padding: 5px 15px;
    background-color: #e8e8e84b;
    border-radius: 10px;
    position: absolute;
    transform: translate(130px,-10px);
    transition: all 1s;
    cursor: pointer;
    /* border: 2px solid red; */
    display: none;
    z-index: 3;
}

.formSentShow{
    display: flex;
}
@media screen and (max-width: 400px) {
    .formSentImg{
        display: none;
    }
    .formSentInput{
        width: 100%;
    }
    .formSentInput .formSentDropX{
        display: inline-block;
    }
    
}

/* ****************************************************** formSent ************************************************** */